# More on Pandas
Pandas contains multitudes of functions and methods that make data wrangling much easier. Lets import the example files from `Pandas.ipynb`

In [5]:
import pandas as pd
#Create dataframes
dfcarbon = pd.read_excel('data/GlobalCarbonBudget2022.xlsx','Global Carbon Budget', header=0, skiprows=20)
dfplanets = pd.read_csv('data/Exoplanet_Archive2.2024.csv', header=0,  skiprows=96)

Let's construct the `dfcarbon` dataframe as we did the other day:

In [17]:
# Rename columns
name_dict = {}
for name in dfcarbon.columns:
    namelist = name.split(' ')
    name_dict[name] = ' '.join(namelist[0:2])
newdfcarbon = dfcarbon.rename(columns = name_dict)
# Create new column
newdfcarbon['total carbon'] = newdfcarbon['fossil emissions'] + newdfcarbon['land-use change'] 
newdfcarbon = newdfcarbon.iloc[:,[0,1,2,8,3,4,5,6,7]]

In [18]:
newdfcarbon

,Year,fossil emissions,land-use change,total carbon,atmospheric growth,ocean sink,land sink,cement carbonation,budget imbalance
0,1959,2.417091,1.938933,4.356024,2.03904,0.975005,0.401805,0.012684,0.927490
1,1960,2.562137,1.792600,4.354737,1.50804,0.959013,1.234131,0.013835,0.639717
2,1961,2.570540,1.666500,4.237040,1.65672,0.805321,0.839819,0.014723,0.920457
3,1962,2.661315,1.608267,4.269582,1.18944,0.895229,1.322231,0.015872,0.846810
4,1963,2.803399,1.542733,4.346133,1.21068,1.059837,0.871917,0.016867,1.186831
...,...,...,...,...,...,...,...,...,...
58,2017,9.851730,1.182300,11.034030,4.54536,2.854828,3.555004,0.202927,-0.124088
59,2018,10.050902,1.141200,11.192102,5.03388,2.947231,3.647435,0.209702,-0.646145
60,2019,10.120786,1.243800,11.364586,5.43744,2.994756,3.041949,0.214002,-0.323561
61,2020,9.624478,1.107467,10.731944,4.99140,2.998115,3.105137,0.220563,-0.583270
62,2021,10.132055,1.075067,11.207122,5.22504,2.879512,3.450347,0.229795,-0.577571

## Filtering
Dataframes can be sliced (indexed) using logical statements. This is useful when filtering data.

In [21]:
# boolean indexing
newdfcarbon[newdfcarbon['total carbon']>10]

,Year,fossil emissions,land-use change,total carbon,atmospheric growth,ocean sink,land sink,cement carbonation,budget imbalance
49,2008,8.757051,1.267200,10.024251,3.78072,2.381592,3.629789,0.140051,0.092099
51,2010,9.105990,1.320333,10.426323,5.14008,2.510948,3.321474,0.156527,-0.702706
52,2011,9.412394,1.354833,10.767227,3.56832,2.554718,4.109074,0.169466,0.365649
53,2012,9.554112,1.317400,10.871512,5.11884,2.622779,2.315468,0.176365,0.638061
54,2013,9.639520,1.263133,10.902653,5.20380,2.647508,3.558473,0.184868,-0.691995
55,2014,9.710026,1.342167,11.052193,4.33296,2.782889,3.663419,0.193115,0.079809
56,2015,9.704849,1.469900,11.174749,6.26580,2.846643,2.008670,0.195190,-0.141554
57,2016,9.695468,1.235767,10.931234,6.03216,2.981613,2.693549,0.198043,-0.974131
58,2017,9.851730,1.182300,11.034030,4.54536,2.854828,3.555004,0.202927,-0.124088
59,2018,10.050902,1.141200,11.192102,5.03388,2.947231,3.647435,0.209702,-0.646145
60,2019,10.120786,1.243800,11.364586,5.43744,2.994756,3.041949,0.214002,-0.323561
61,2020,9.624478,1.107467,10.731944,4.99140,2.998115,3.105137,0.220563,-0.583270
62,2021,10.132055,1.075067,11.207122,5.22504,2.879512,3.450347,0.229795,-0.577571

In [24]:
type(dfplanets.describe())

pandas.core.frame.DataFrame

You can manipulate, transform, and group components of the dataframe using any of the tools in python. Can you explain what the following lines do?